<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="stuScoreManager.Properties.Settings.stuScoreManagerConnectionString"
            connectionString="Data Source=MOSHANG-PC;Initial Catalog=stuScoreManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>